{% extends 'base.html' %}
{% load static %}

{% block content %}
  <style>
    .form-control {
      margin: 0 0 0 10px;
      width: 250px;
      height: 35px;
      background-color: white;
      border-radius: 5px;
    }
    .card-body {

      margin: 0 auto 0 30px;
    }
    .col-md-4 {
        margin: 0 auto 30px auto;
    }
    .btn-primary {
        margin: auto;
        background-color: green;
        border: none;
        border-radius: 5px;
        padding: 10px;
    }
  </style>

  <div class="col-md-4 d-flex" style="direction: ltr;">
    <div class="card flex-grow-1 mb-md-0">
      <div class="card-body">
        <h3 class="card-title">ثبت نام</h3>
        <div class="form-group">
          <form action="" method="post" novalidate style="direction: rtl;">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="ثبت نام" class="btn btn-primary mt-4" />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
